::ng-deep .main__container {
  width: 100%;
  height: 100%;
  background: transparent;
  /* border: 2px solid red; */
}

::ng-deep .p-panel {
  height: 100%;
  width: 99%;
  margin: 0 auto;
}

::ng-deep .p-panel .p-panel-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

::ng-deep .p-panel .p-panel-content .p-menubar {
  padding: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

::ng-deep .p-panel .p-panel-content .p-menubar input {
  height: 100%;
  border: none;
}